<!DOCTYPE html>
{% extends "app_four/base.html" %}
    {% block body_block %}
        <h1>Wlcome torelative url file</h1>
        <h2>This is an exemple of template inheritence</h2>
        <a href="{% url 'app_four:index' %}">Go home</a><br/>
        <a href="{% url 'app_four:other' %}">Other page</a><br/>
        <a href="{% url 'app_four:relative' %}">Relative page</a><br/>
        <a href="{% url 'admin:index' %}">Link to admin</a><br/>
        <a href="{% url 'index' %}">Link to index</a><br/>
    {% endblock %}